<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Ejs Template Engine</h1>
    <b>Name<%= name %></b>
    <b>อายุ:Age<%= age %> ปี</b>
    <hr>
    <% if (age>=18) { %>
        <h2>คุณสามารถเข้าสู่ระบบได้</h2>
    <% }else { %>
        <h1>คุณไม่สามารถเข้าสู่ระบบได้</h1>
    <% } %>
    
</body>
</html>